.people {
  background-image: url(./img/section-people-img/bg-section-people-320px.png);
  background-repeat: no-repeat;
  padding: 0 20px 22px;
  text-align: center;
  position: relative;
  background-position: center center;
  background-size: cover;
  @media (min-width: 480px) {
    background-image: url(./img/section-people-img/bg-section-people-768px.png);
  }
  @media (min-width: 992px) {
    background-image: url(./img/section-people-img/bg-section-people-1200px.png);
    padding: 0 80px 22px;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 57px;
    @media (min-width: 480px) {
      padding-top: 85px;
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: 992px) {
      padding-top: 108px;
      font-size: 48px;
      line-height: 50px;
    }
  }

  &__companies {
    @media (min-width: 480px) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 992px) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 90px;
    }
  }

  &__company {
    margin-top: 53px;
  }

  &__company-text {
    font-family: Lato, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 28px;
  }

  &__text {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-top: 37px;
    color: #A291A5;
    padding-bottom: 22px;
    @media (min-width: 480px){
      margin-top: 67px;
    }
    @media (min-width: 992px){
      margin-top: 118px;
    }
  }
}

.people:after {
  content: "";
  position: absolute;
  width: 245px;
  height: 2px;
  background: #645766;
  right: 50%;
  transform: translateX(50%);

  @media (min-width: 480px){
    width: 555px;
    }
  @media (min-width: 992px){
    width: 780px;
  }
}
