.header {
  position: relative;
&__all{
  @media (min-width: 992px) {
    background-image: url(./img/header-img/bg-header-1200px.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 800px;
  }
}
  &__main {
    background-color: #27262A;
    @media (min-width: 992px) {
   background: none;
    }
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 15px;
    position: relative;
    @media (min-width: 992px) {
      justify-content: center;
    }
  }

  &__main-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover{
      .header__main-logo-icon2{
        display: block;
      }
      .header__main-logo-icon{
        display: none;
      }
      .header__main-logo-text{
        color: #FFFFFF;
      }
    }
  }

  &__main-logo-icon2{
    display: none;
  }
  //&__main-logo-icon:hover{
  //  display: none;
  //}
  //  &__main-logo-icon2:hover{
  //display: block;
  //  }
  &__main-logo-text {
    display: none;
    @media (min-width: 480px) {
      display: block;
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      color: #8D81AC;
      margin-left: 17px;
      text-decoration: none;
    }

  }

  &__button {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    width: 119px;
    height: 37px;
    margin-left: 20px;
    border-radius: 40px;
    background: #8D81AC;
    border: none;
    color: #fff;
    @media (min-width: 480px) {
      width: 145px;
      height: 38px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__button:hover {
    color: #8D81AC;
    border: 2px solid #8D81AC;
    background: #FFFFFF;
  }

  &__burger-menu {
    display: flex;
    justify-content: right;
    @media (min-width: 480px) {
      justify-content: center;
      padding-bottom: 18px;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
&__burger-menu-up{
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
}
  &__burger-menu-nav-up{
    display: none;
    @media (min-width: 992px) {
      display: flex;
    }
  }
  &__burger-menu-button {
    position: relative;
    width: 44px;
    height: 37px;
    cursor: pointer;
    @media (min-width: 480px) {
      display: none;
    }
  }

  &__burger-menu-button span,
    //.header__burger-menu-button span:before,
  .header__burger-menu-button span:after {
    right: 0;
    top: -8px;
    border-radius: 5px;
    width: 26px;
    position: absolute;
    height: 3px;
    display: block;
    transition: .3s;
    background-color: #fff;
  }

  &__burger-menu-button span:before {
    right: 0;
    border-radius: 5px;
    position: absolute;
    height: 3px;
    display: block;
    background-color: #fff;
    content: "";
    width: 15px;
    top: -16px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__burger-menu-button span {
    right: 0;
    top: 17px;
    margin: 6px 0;
  }

  &__burger-menu-button span:after {
    content: "";
    bottom: -9px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__burger-menu-button span.active:before {
    content: "";
    top: -8px;
    width: 26px;
    height: 2px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__burger-menu-button span.active:after {
    content: "";
    bottom: 0;
    height: 2px;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__burger-menu-button span.active {
    background: rgba(255, 255, 255, 0);
  }

  &__burger-menu-nav {
    display: none;
    position: absolute;
    width: 292px;
    top: 105px;
    @media (min-width: 480px) {
      display: flex;
      justify-content: center;
      position: static;
      width: 100%;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }

  &__burger-menu-nav.active {
    display: block;
    @media (min-width: 768px) {
      position: static;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__burger-menu-lists {
    list-style: none;
    background: #F5F5F5;
    @media (min-width: 480px) {
      display: flex;
      list-style: none;
      background: none;
    }
    @media (min-width: 992px) {
      padding-left: 93px;
    }
  }

  &__burger-menu-list {
    font-family: Montserrat, sans-serif;
    position: relative;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    font-size: 26px;
    line-height: 26px;
    padding: 29px 0 21px 35px;
    background-color: #333333;
    border-bottom: 3px solid #3B3B3B;
    @media (min-width: 480px) {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      margin-right: 45px;
      display: flex;
      border: none;
      background: none;
      color: #8D81AC;
      padding: 0;
    }
    @media (min-width: 992px) {
      margin-left: 45px;
      margin-right: 0;
    }
  }

  &__burger-menu-list a:hover {
    color: #8D81AC;
    @media (min-width: 768px) {
      background: none;
    }
  }

  &__burger-menu-list a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    @media (min-width: 480px) {
      color: #8D81AC;

    }
  }

  &__burger-menu-list .active_link {
    color: #8D81AC;
    @media (min-width: 480px) {
      margin-left: 45px;
    }
    @media (min-width: 992px) {
      margin-left: 0;
    }
  }

  &__burger-menu-list .active_link:before {
    content: "";
    width: 8px;
    height: 53px;
    background: #8D81AC;
    left: 1px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    @media (min-width: 480px) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
    background-image: url(./img/header-img/bg-header-320px.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 614px;
    @media (min-width: 480px) {
      background-image: url(./img/header-img/bg-header-768px.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      height: 800px;
    }
    @media (min-width: 992px) {
     background: none;
    }
  }

  &__bottom-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin: 50px 0 19px;
    color: #FFFFFF;
    @media (min-width: 480px) {
      font-size: 72px;
      line-height: 72px;
      margin: 70px 0 19px;
    }
    @media (min-width: 992px) {
      font-size: 82px;
      line-height: 82px;
      margin: 100px 0 19px;
    }
  }

  &__bottom-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 14px;
    color: #8D81AC;
    @media (min-width: 480px) {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 19px;
    }
    @media (min-width: 992px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__bottom-link {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #848E97;
    @media (min-width: 480px) {

    }
  }

  &__bottom-button {
    position: absolute;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 290px;
    height: 45px;
    bottom: 30px;
    transform: translateX(50%);
    right: 50%;
    margin-left: 20px;
    border-radius: 40px;
    background: #8D81AC;
    border: none;
    color: #fff;
    @media (min-width: 480px) {
      font-size: 21px;
      line-height: 23px;
      width: 390px;
      height: 62px;
      bottom: 21px;
    }
  }

  &__bottom-button:hover {
    color: #8D81AC;
    border: 2px solid #8D81AC;
    background: #FFFFFF;
  }

  &__down-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 35px;
    color: #848E97;
  }
}
@media (min-width: 480px){
  .header__burger-menu-list a:hover{
    color: white;
  }
}