@media (min-width: 480px){
  .people__company-text1{
    margin-top: 33px;
  }
  .people__company-text2{
    margin-top: 29px;
  }
  .people__company-text3{
    margin-top: 22px;
  }
  .people__company-text4{
    margin-top: 33px;
  }
  .people__company-text5{
    margin-top: 22px;
  }
  .people__company-text6{
    margin-top: 30px;
  }
  .people__company1{
    margin-top: 88px;
  }
  .people__company2{
    margin-top: 85px;
  }
  .people__company3{
    margin-top: 58px;
  }
  .people__company4{
    margin-top: 86px;
  }
  .people__company5{
    margin-top: 62px;
  }
  .people__company6{
    margin-top: 56px;
  }

}
@media (min-width: 992px){

  .people__company-text5{
    margin-top: 28px;
  }
  .people__company1{
    margin-top: 85px;
  }
  .people__company2{
    margin-top: 82px;
  }
  .people__company3{
    margin-top: 75px;
  }
  .people__company4{
    margin-top: 116px;
  }
  .people__company5{
    margin-top: 112px;
  }
  .people__company6{
    margin-top: 111px;
  }

}